* {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.hidden {
	display: none;
}



/* Preparation Screen Styles */
#preparation-screen {
	background-color: #ffffff;
	border: 1px solid #000000;
	bottom: 5%;
	left: 5%;
	position: absolute;
	right: 5%;
	text-align: center;
	top: 5%;
}

#preparation-screen > div {
	margin-top: 5%;
}

#shield, #aim {
	position: absolute;
}